absl_py==2.2.2+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.10.9+computecanada
aiosignal==1.3.2+computecanada
alembic==1.14.0+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
anyio==4.9.0+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.3.0+computecanada
asttokens==3.0.0+computecanada
astunparse==1.6.3+computecanada
async_lru==2.0.4+computecanada
attrs==25.3.0+computecanada
autopage==0.5.1+computecanada
babel==2.17.0+computecanada
beautifulsoup4==4.13.3+computecanada
bgflow @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/bgflow-0+untagged.338.g3eebcb1.zip
bleach==6.2.0+computecanada
certifi==2025.1.31+computecanada
cffi==1.17.1+computecanada
cfgv==3.4.0+computecanada
charset_normalizer==3.4.1+computecanada
click==8.1.8+computecanada
cliff==4.6.0+computecanada
cloudpickle==3.1.1+computecanada
cmaes==0.10.0+computecanada
cmd2==2.4.2+computecanada
colorlog==6.9.0+computecanada
comm==0.2.2+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
deeptime @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/deeptime-0.4.5.tar.gz#sha256=e290101e8a63f2338091866af671821e4d972b9d4fabf3fee4a14777f9aef414
defusedxml==0.7.1+computecanada
distlib==0.3.9+computecanada
docker-pycreds==0.4.0+computecanada
einops==0.8.1+computecanada
executing==2.2.0+computecanada
fastjsonschema==2.21.1+computecanada
filelock==3.18.0+computecanada
fonttools==4.55.8+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.5.0+computecanada
fsspec==2025.3.2+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.44+computecanada
greenlet==3.1.1+computecanada
grpcio==1.67.0+computecanada
h11==0.14.0+computecanada
httpcore==1.0.8+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.30.2+computecanada
hydra_colorlog==1.2.0+computecanada
hydra_core==1.3.2+computecanada
hydra_optuna_sweeper==1.2.0+computecanada
hydra_submitit_launcher==1.2.0+computecanada
identify==2.6.9+computecanada
idna==3.10+computecanada
iniconfig==2.0.0+computecanada
ipdb==0.11+computecanada
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
joblib==1.4.2+computecanada
json5==0.10.0+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.23.0+computecanada
jsonschema_specifications==2024.10.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.2.5+computecanada
jupyter_server==2.15.0+computecanada
jupyter_server_terminals==0.5.3+computecanada
jupyterlab==4.3.5+computecanada
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.27.3+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
lightning==2.5.0+computecanada
lightning_utilities==0.14.2+computecanada
Mako==1.3.8+computecanada
Markdown==3.7+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.2+computecanada
matplotlib_inline==0.1.7+computecanada
mccabe==0.7.0+computecanada
mdtraj==1.10.3
mdurl==0.1.2+computecanada
mistune==3.1.1+computecanada
mpmath==1.3.0+computecanada
multidict==6.1.0+computecanada
mypy_extensions==1.0.0+computecanada
nbclient==0.10.2+computecanada
nbconvert==7.16.6+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.4.2+computecanada
nflows==0.14+computecanada
nodeenv==1.9.1+computecanada
normflows @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/normflows-1.7.3.tar.gz#sha256=0cc539869c9970d28041edb4d7a28006c1cec6241d9d0d553975b5b1155c2071
nose==1.3.7+computecanada
notebook_shim==0.2.4+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
optuna==2.10.1+computecanada
overrides==7.7.0+computecanada
packaging==24.2+computecanada
pandas==2.2.3+computecanada
pandocfilters==1.5.1+computecanada
parso==0.8.4+computecanada
pastel==0.2.1+computecanada
pathspec==0.12.1+computecanada
pbr==6.1.0+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.2.0+computecanada
pluggy==1.5.0+computecanada
POT @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/pot-0.9.5.tar.gz#sha256=9644ee7ff51c3cffa3c2632b9dd9dff4f3520266f9fb771450935ffb646d6042
pre_commit==4.2.0+computecanada
prettytable==3.12.0+computecanada
prometheus_client==0.21.1+computecanada
prompt_toolkit==3.0.50+computecanada
propcache==0.2.1+computecanada
protobuf==5.29.3+computecanada
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pycodestyle==2.11.1+computecanada
pycparser==2.22+computecanada
#pydantic==2.11.3+computecanada
#pydantic_core==2.27.2+computecanada
pyflakes==3.2.0+computecanada
pygments==2.19.1+computecanada
pyparsing==3.2.1+computecanada
pyperclip==1.7.0+computecanada
pytest==8.3.4+computecanada
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.1.0+computecanada
python_json_logger==3.3.0+computecanada
pytorch_lightning==2.5.1+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
referencing==0.36.2+computecanada
requests==2.32.3+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rich==13.9.4+computecanada
rootutils==1.0.7+computecanada
rpds_py==0.20.0+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.15.1+computecanada
Send2Trash==1.8.3+computecanada
sentry_sdk==2.20.0+computecanada
setproctitle==1.3.4+computecanada
six==1.17.0+computecanada
smmap==5.0.2+computecanada
sniffio==1.3.1+computecanada
soupsieve==2.6+computecanada
SQLAlchemy==2.0.35+computecanada
stack_data==0.6.3+computecanada
stevedore==5.4.1+computecanada
submitit==1.5.2+computecanada
sympy==1.13.1+computecanada
tensorboard==2.19.0+computecanada
tensorboard_data_server==0.7.2+computecanada
terminado==0.18.1+computecanada
threadpoolctl==3.6.0+computecanada
tinycss2==1.4.0+computecanada
tokenize_rt @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/tokenize_rt-6.1.0-py2.py3-none-any.whl#sha256=d706141cdec4aa5f358945abe36b911b8cbdc844545da99e811250c0cee9b6fc
tomlkit==0.13.2+computecanada
torch==2.6.0+computecanada
torchdiffeq==0.2.5+computecanada
torchmetrics==1.7.0+computecanada
torchsde==0.2.6+computecanada
torchao==0.9.0+computecanada
torchdata @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/torchdata-0.11.0-py3-none-any.whl#sha256=52b940fbbe0e00fb21cabddf528449d1bec5bfb0d0823b7487b15f951658ee33
torchvision==0.21.0+computecanada
tornado==6.4.2+computecanada
torchtune @ file:///home/a/atong01/diffusion-annealed-sampling/wheels/torchtune-0.6.1-py3-none-any.whl
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
trampoline==0.1.2+computecanada
types_python_dateutil==2.9.0.20241206+computecanada
typing_extensions==4.13.2+computecanada
typing_inspection==0.4.0+computecanada
tzdata==2025.1+computecanada
uri_template==1.3.0+computecanada
urllib3==2.4.0+computecanada
virtualenv==20.29.1+computecanada
wandb==0.19.6+computecanada
wcwidth==0.2.13+computecanada
webcolors==24.11.1+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.8.0+computecanada
werkzeug==3.1.3+computecanada
widgetsnbextension==4.0.13+computecanada
yarl==1.18.3+computecanada
